.Card {
  border: 1px solid black;
  text-align: center;
  height: 300px;
  width: 90%;
  max-width: 500px;
  margin-top: 10px;
}

.resultButton {
  width: 90%;
  max-width: 500px;
  margin-top: 10px;
}

.testCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
